name: Main

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Cache Clean
        run: yarn cache clean
      - name: Install Dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Rollup
        run: yarn rollup
      - name: Generate
        run: yarn generate
      - name: Publish
        run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
